@import "tailwindcss";

/* Custom variables */
:root {
  --background: #f5f5f5; /* light grey background */
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #f3f4f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
